<ul class="stars">
    {% for star in movie.rating_set.all %}

        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
    {% endfor %}


{#    <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>#}
{#    <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a>#}
{#    </li>#}
{#    <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a>#}
{#    </li>#}
{#    <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>#}
</ul>